[core]
	editor = vim
[user]
	name = Edward Venator
	email = evenator@swri.org
[alias]
	prettylog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n%b' --abbrev-commit --
	graphlog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = true
[merge]
	tool = meld
[push]
	default = upstream
